In [6]:
#Single inheritance

class Parent:
    def func1(self):
        print("This is Parent Class")
        
class Child(Parent):
    def func2(self):
        print("This is Child Class")

In [7]:
p1 = Parent()
c1 = Child()

In [8]:
p1.func1()

This is Parent Class

In [10]:
c1.func1()

This is Parent Class

In [19]:
class Person:
    gender = "Male"
    height = "Above 178cm"
    
    def func1(self):
        print(f"The Gender of this employee is {self.gender}")
        
class Employee(Person):
    education = "Ineuron"
    company = "Google"
    branch = "Delhi"
    
    def func2(self):
        print(f"I Studied in {self.education}")
        print(f"I work in {self.company}")

In [20]:
p1 = Person()
e1 = Employee()

In [21]:
e1.func1()

The Gender of this employee is Male

In [26]:
class Animal:
    def __init__(self, mammal, legs):
        self.mammal = mammal
        self.legs = legs
        
    def birth(self):
        print("I give birth to the Young ones")
        
    def limbs(self):
        print("I have four legs")
        
class Dogs(Animal):
    def __init__(self, name, colour, breed):
        self.name = name
        self.colour = colour
        self.breed = breed
        
    def hello(self):
        print(f"Hello My name is {self.name}")
        
    def rang(self):
        print(f"My colour is {self.colour}")
        
    def breed(self):
        print(f"I Belong to {self.breed} breed")
        
class Pet()

In [34]:
a1 = Animal(True, "four")
d1 = Dogs("Dollar", "Brown", "Great Dane")

In [28]:
d1.limbs()

I have four legs

In [29]:
d1.birth()

I give birth to the Young ones

In [51]:
class Animal:
    def __init__(self, mammal, legs):
    
        self.mammal = mammal
        self.legs = legs
        
    def birth(self):
        print(self.mammal)
        
    def limbs(self):
        print(f"I have {self.legs} legs")
        
class Dogs:
    
    name = 'Dove'
    colour = "Brown"
    breed = "Golden Retriever"
        
    def hello(self):
        print(f"Hello My name is {name}")
        
    def rang(self):
        print(f"My colour is {colour}")
        
class Pet(Animal, Dogs):
    owner = "Divyanshu"
    qualification = "Graduate"
    
    def Godfather(self):
        print(f"The name of the owner is {owner}")
        
    def Qual(self):
        print(f"The owner is a {qualification}")

In [52]:
p1 = Pet(True, "four")

In [53]:
p1.limbs()

I have four legs

In [54]:
p1.birth()

True

## This is multiple inheritance

In [102]:
class Person:
        
    def MF(self):
        print(f"My gender is Male")
        
    def state_add(self):
        print(f"The state in which I live is Bihar")
        
class ed_Company:

    def comp(self):
        print(f"The name of the company is Ineuron")
        
    def bran(self):
        print(f"The name of the branch is Banglore")
        
    def domain(self):
        print("This is a ed-tech company")
        
class Employee(Person, ed_Company):
    
    def name(self):
        print("The name of the employee is Divyanshu")
    
    def qualifications(self):
        print(f"I am a BCA Graduate")
        
    def city(self):
        ("I am from Gaya")

In [99]:
p1 = Person("Male", "Bihar")
ed_c1 = ed_Company("Ineuron", "Banglore", "Ed-TECH")
e1 = Employee("Male", "Bihar", "Ineuron")

TypeError: Person() takes no arguments

In [103]:
p1 = Person()
ed_c1 = ed_Company()
e1 = Employee()

In [104]:
e1.bran()

The name of the branch is Banglore

## This is multi level inheritance

In [106]:

class Galaxy:
    def add1(self):
        print("I am in the galaxy")
        
class SolarSystem(Galaxy):
    def add2(self):
        print("I am in the solar system")
        
class Earth(SolarSystem):
    def add3(self):
        print("I am in the Earth")

In [107]:
g1 = Galaxy()
s1 = SolarSystem()
e1 = Earth()

In [108]:
e1.add1()

I am in the galaxy

In [109]:
e1.add2()
e1.add3()

I am in the solar system
I am in the Earth

In [2]:
class School:
    def info(self):
        print("D.A.V. is a school in India")
        
class State(School):
    def state(self):
        print("This is a school in Bihar")
        
class City(State):
    def city(self):
        print("This is a school in Gaya")

In [3]:
c1 = City()

In [6]:
c1.info()
c1.city()
c1.state()

D.A.V. is a school in India
This is a school in Gaya
This is a school in Bihar

## This is Hierarchial Inheritance

In [13]:
class Phones:
    def __init__(self, brand, model, price):
        self.brand = brand 
        self.model = model
        self.price = price
        
    def specs(self):
        print(f"Phone's Brand :- {self.brand} and Phones's price = {self.price}")
        
    def typeofphone(self):
        if self.price < 25000:
            print("This is a budget phone")
        else:
            print("This is a Midrange phone")
            
class Smartphone(Phones):
    def __init__(self, brand, model, price, RAM, storage):
        super().__init__(brand, model, price)
        self.RAM = RAM
        self.storage = storage
        
class FlagShip(Smartphone):
    def __init__(self, brand, model, price, RAM, storage, frontcamera, backcamera, display):
        super().__init__(brand, model, price, RAM, storage)
        self.frontcamera = frontcamera
        self.backcamera = backcamera
        self.display = display

In [17]:
p1 = FlagShip("Apple", "Plus", 85000, "6GB", "256", "10.2 MP", "12 MP", "AmoLed")

In [18]:
p1.typeofphone()

This is a Midrange phone

In [20]:
p1.specs()

Phone's Brand :- Apple and Phones's price = 85000

In [51]:
class Vehicle:
    def vehicle_info(self):
        print("This is a Vehicle")

class Car(Vehicle):
    def __init__(self, name):
        self.name = name
    def car_info(self):
        print(f"This is a {self.name} car")

class Truck(Vehicle):
    def __init__(self, model):
        self.model = model
    def truck_info(self):
        print(f"This is a {self.model} truck")
        
class SportsCar(Car, Vehicle):
    def sportscar(self):
        print("This is a MC Laren sports car")

In [44]:
t1 = Truck("Ashoka Leyland")

In [46]:
t1.vehicle_info()

This is a Vehicle

In [47]:
c1 = Car("TATA")

In [48]:
c1.car_info()

This is a TATA car

In [53]:
sc1 = SportsCar("Tata")

In [55]:
sc1.vehicle_info()

This is a Vehicle

In [56]:
class Company:
    def company_name(self):
        return "Ineuron"
    
class Employee(Company):
    def info(self):
        c_name = super().company_name()
        print(f"I work at ", c_name)

In [60]:
e2 = Employee()

In [61]:
e2.info()

I work at  Ineuron

In [62]:
class Parent:
    def __init__(self, v1, v2):
        self.v1 = v1
        self.v2 = v2
        
class Child(Parent):
    def __init__(self, v1, v2, v3):
        super().__init__(v1, v2)
        self.v3 = v3

In [67]:
p1 = Parent(2, 3)
c1 = Child(5, 6, 4)

In [68]:
c1.v1

5

In [69]:
p1.v1

2

In [75]:
class Parent:
    def __init__(self):
        print("This is a parent class")
        
class Parent1:
    def __init__(self):
        print("This is a parent 1 class")
        
class Parent2:
    def __init__(self):
        print("THis is a parent 2 class")
        
class Child(Parent2, Parent1, Parent):
    def __init__(self):
        super().__init__()

In [76]:
t1 = Child()

THis is a parent 2 class