In [1]:
import pymongo

In [5]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://DivyanshuKumar:example2023@cluster0.1rfdg9w.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)
db = client.test
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [6]:
print(db)

Database(MongoClient(host=['ac-crpczel-shard-00-00.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-01.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-02.1rfdg9w.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7aay1l-shard-0', tls=True), 'test')

In [7]:
db = client['ineuron']
coll = db['course']
coll1 = db['students']

In [1]:
import pymongo

In [4]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://DivyanshuKumar:example2023@cluster0.1rfdg9w.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)
db = client.test
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
print(db)

Pinged your deployment. You successfully connected to MongoDB!
Database(MongoClient(host=['ac-crpczel-shard-00-02.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-00.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-01.1rfdg9w.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7aay1l-shard-0', tls=True), 'test')

In [6]:
db = client['ineuron']
col = db['course']
# col2 = db['students']

In [7]:
data = {
    'course_name' : ['full stack data science', 'full stack data analytics', 'big data', 'devops', 'blockchain'],
    'course_instructor' : ['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
    'start_date ' : '12-12-2023',
    'duratrion' : '6 months',
    'mode' : 'live Online',
    'cerficate' : 'yes',
    'prerequisite' : 'dedication',
    'resume': 'yes',
    'mockinterview' : 'yes'    
}

In [10]:
col.insert_one(data)

In [15]:
data3 = [{
    'name':'Ramesh Kumar',
    'class':'BCA 2',
    'roll':'201',
    'college':'Mirza Ghalib College',
    'University':'Magadh University',
    'session':'2018-2021',
    'subjects':['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']
},{
    'name':'Dipanshu Kumar',
    'class':'BCA 1',
    'roll':'201',
    'college':'Hansraj College',
    'University':'Delhi University',
    'session':'2023-2026',
    'subjects':['Accountancy', 'Tax', 'Finance', 'Law', 'English']
}]

In [16]:
col2.insert_many(data3)

In [18]:
data4 = [{
    'name':'Krishna Kumar',
    'class':'Management',
    'major':'Finance',
    'roll':'29',
    'college':'Faculty of management studies ',
    'University':'Delhi University',
    'session':'2023-2026',
    'subjects':['Accountancy', 'Tax', 'Finance', 'Law', 'English']
},{
    'name':'Arinjay Anand',
    'class':'B.Sc',
    'major':'Information Technology',
    'roll':'98',
    'college':' st. stephens college ',
    'University':'Delhi University',
    'session':'2022-2025',
    'subjects':['Physics', 'Chemistry', 'Maths', 'COmputer Fundamental', 'C++']
}]

In [19]:
col.insert_many(data4)

In [30]:
rec = col2.find()

In [31]:
from pprint import pprint
for i in rec:
    pprint(i)

{'University': 'Magadh University',
 '_id': ObjectId('6451c760ad8f7793a84462e2'),
 'class': 'BCA 3',
 'college': 'Gaya College',
 'name': 'Divyanshu Kumar',
 'roll': '201',
 'session': '2019-2022',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Magadh University',
 '_id': ObjectId('6451c861ad8f7793a84462e3'),
 'class': 'BCA 2',
 'college': 'Mirza Ghalib College',
 'name': 'Ramesh Kumar',
 'roll': '201',
 'session': '2018-2021',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Delhi University',
 '_id': ObjectId('6451c861ad8f7793a84462e4'),
 'class': 'BCA 1',
 'college': 'Hansraj College',
 'name': 'Dipanshu Kumar',
 'roll': '201',
 'session': '2023-2026',
 'subjects': ['Accountancy', 'Tax', 'Finance', 'Law', 'English']}

In [34]:
col.find_one()

{'_id': ObjectId('6451c59dad8f7793a84462e1'),
 'course_name': ['full stack data science',
  'full stack data analytics',
  'big data',
  'devops',
  'blockchain'],
 'course_instructor': ['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
 'start_date ': '12-12-2023',
 'duratrion': '6 months',
 'mode': 'live Online',
 'cerficate': 'yes',
 'prerequisite': 'dedication',
 'resume': 'yes',
 'mockinterview': 'yes'}

In [44]:
rec1 = col.find_one({}, {'duration'})

In [50]:
for i in col2.find({'roll':'201'}):
    pprint(i)

{'University': 'Magadh University',
 '_id': ObjectId('6451c760ad8f7793a84462e2'),
 'class': 'BCA 3',
 'college': 'Gaya College',
 'name': 'Divyanshu Kumar',
 'roll': '201',
 'session': '2019-2022',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Magadh University',
 '_id': ObjectId('6451c861ad8f7793a84462e3'),
 'class': 'BCA 2',
 'college': 'Mirza Ghalib College',
 'name': 'Ramesh Kumar',
 'roll': '201',
 'session': '2018-2021',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Delhi University',
 '_id': ObjectId('6451c861ad8f7793a84462e4'),
 'class': 'BCA 1',
 'college': 'Hansraj College',
 'name': 'Dipanshu Kumar',
 'roll': '201',
 'session': '2023-2026',
 'subjects': ['Accountancy', 'Tax', 'Finance', 'Law', 'English']}

In [54]:
col2.update_one({'roll':'201'}, {'$set':{'roll':'148'}})

In [56]:
for i in col2.find({'roll':'201'}):
    pprint(i)

{'University': 'Magadh University',
 '_id': ObjectId('6451c861ad8f7793a84462e3'),
 'class': 'BCA 2',
 'college': 'Mirza Ghalib College',
 'name': 'Ramesh Kumar',
 'roll': '201',
 'session': '2018-2021',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Delhi University',
 '_id': ObjectId('6451c861ad8f7793a84462e4'),
 'class': 'BCA 1',
 'college': 'Hansraj College',
 'name': 'Dipanshu Kumar',
 'roll': '201',
 'session': '2023-2026',
 'subjects': ['Accountancy', 'Tax', 'Finance', 'Law', 'English']}

In [57]:
for i in col2.find():
    pprint(i)

{'University': 'Magadh University',
 '_id': ObjectId('6451c760ad8f7793a84462e2'),
 'class': 'BCA 3',
 'college': 'Gaya College',
 'name': 'Divyanshu Kumar',
 'roll': '148',
 'session': '2019-2022',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Magadh University',
 '_id': ObjectId('6451c861ad8f7793a84462e3'),
 'class': 'BCA 2',
 'college': 'Mirza Ghalib College',
 'name': 'Ramesh Kumar',
 'roll': '201',
 'session': '2018-2021',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Delhi University',
 '_id': ObjectId('6451c861ad8f7793a84462e4'),
 'class': 'BCA 1',
 'college': 'Hansraj College',
 'name': 'Dipanshu Kumar',
 'roll': '201',
 'session': '2023-2026',
 'subjects': ['Accountancy', 'Tax', 'Finance', 'Law', 'English']}

In [71]:
col2.update_one({'roll':'29'},{'$set':{'roll':'1000'}})

In [59]:
for i in col2.find():
    pprint(i)

{'University': 'Magadh University',
 '_id': ObjectId('6451c760ad8f7793a84462e2'),
 'class': 'BCA 3',
 'college': 'Gaya College',
 'name': 'Divyanshu Kumar',
 'roll': '148',
 'session': '2019-2022',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Magadh University',
 '_id': ObjectId('6451c861ad8f7793a84462e3'),
 'class': 'BCA 2',
 'college': 'Mirza Ghalib College',
 'name': 'Ramesh Kumar',
 'roll': '102',
 'session': '2018-2021',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Delhi University',
 '_id': ObjectId('6451c861ad8f7793a84462e4'),
 'class': 'BCA 1',
 'college': 'Hansraj College',
 'name': 'Dipanshu Kumar',
 'roll': '201',
 'session': '2023-2026',
 'subjects': ['Accountancy', 'Tax', 'Finance', 'Law', 'English']}

In [70]:
col2.update_one({'roll': '98'}, {'$set':{'roll': '001'}})

In [62]:
for i in col2.find():
    pprint(i)

{'University': 'Magadh University',
 '_id': ObjectId('6451c760ad8f7793a84462e2'),
 'class': 'BCA 3',
 'college': 'Gaya College',
 'name': 'Divyanshu Kumar',
 'roll': '001',
 'session': '2019-2022',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Magadh University',
 '_id': ObjectId('6451c861ad8f7793a84462e3'),
 'class': 'BCA 2',
 'college': 'Mirza Ghalib College',
 'name': 'Ramesh Kumar',
 'roll': '102',
 'session': '2018-2021',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Delhi University',
 '_id': ObjectId('6451c861ad8f7793a84462e4'),
 'class': 'BCA 1',
 'college': 'Hansraj College',
 'name': 'Dipanshu Kumar',
 'roll': '201',
 'session': '2023-2026',
 'subjects': ['Accountancy', 'Tax', 'Finance', 'Law', 'English']}

In [67]:
col2.delete_many({'session':'2019-2022'})

In [75]:
for i in col2.find():
    pprint(i)

{'University': 'Magadh University',
 '_id': ObjectId('6451c861ad8f7793a84462e3'),
 'class': 'BCA 2',
 'college': 'Mirza Ghalib College',
 'name': 'Ramesh Kumar',
 'roll': '01',
 'session': '2018-2021',
 'subjects': ['Comp. Honours1', 'Comp Honours2', 'English', 'Hindi', 'Maths']}
{'University': 'Delhi University',
 '_id': ObjectId('6451c861ad8f7793a84462e4'),
 'class': 'BCA 1',
 'college': 'Hansraj College',
 'name': 'Dipanshu Kumar',
 'roll': '20',
 'session': '2023-2026',
 'subjects': ['Accountancy', 'Tax', 'Finance', 'Law', 'English']}

In [73]:
col2.update_one({'roll':'102'},{'$set':{'roll':'0001'}})

In [77]:
db = client['iNeuron_ai']
col3 = db['course']

In [85]:
data=[
    {
        'name':'full stack web dev',
        'instructor':['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
        'price':1800,
        'duration':'eight month'
    },{
        'name':'full stack web dev',
        'instructor':['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
        'price':7000,
        'duration':'eight month'
    },{
        'name':'full stack web dev',
        'instructor':['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
        'price':8000,
        'duration':'eight month'
    },{
        'name':'full stack web dev',
        'instructor':['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
        'price':3000,
        'duration':'eight month'
    }
]

In [86]:
col3.insert_many(data)

In [89]:
for i in col3.find({'price':{'$lt':7000}}) :
    print(i)

{'_id': ObjectId('6451e710ad8f7793a84462eb'), 'name': 'full stack web dev', 'instructor': ['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'], 'price': 1800, 'duration': 'eight month'}
{'_id': ObjectId('6451e710ad8f7793a84462ee'), 'name': 'full stack web dev', 'instructor': ['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'], 'price': 3000, 'duration': 'eight month'}

In [93]:
for i in col3.find({'price':{'$gte':7000}}):
    pprint(i)

{'_id': ObjectId('6451e710ad8f7793a84462ec'),
 'duration': 'eight month',
 'instructor': ['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
 'name': 'full stack web dev',
 'price': 7000}
{'_id': ObjectId('6451e710ad8f7793a84462ed'),
 'duration': 'eight month',
 'instructor': ['sudhanshu', 'anand', 'shashank', 'hitesh', 'navin'],
 'name': 'full stack web dev',
 'price': 8000}

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://DivyanshuKumar:example2023@cluster0.1rfdg9w.mongodb.net/?retryWrites=true&w=majority")
db = client.prac17_05
print(db)

Database(MongoClient(host=['ac-crpczel-shard-00-01.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-02.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-00.1rfdg9w.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7aay1l-shard-0', tls=True), 'prac17_05')

In [3]:
database = client['dell_17-05-23']

In [4]:
coll = database['prac17-5-23']

In [6]:
data = [
    {'name':'Divyanshu', 
    'class':'7th',
    'roll':'21',
    'school':'D.A.V.',
    'designation':'Monitor'},
    {
    'name':'Dipanshu', 
    'class':'6th',
    'roll':'22',
    'school':'DPS',
    'designation':'Prefect'    
    },
    {
    'name':'Sudhanshu', 
    'class':'9th',
    'roll':'23',
    'school':'iNeuron',
    'designation':'House Head'    
    },
    {
    'name':'Gagandeep', 
    'class':'10th',
    'roll':'24',
    'school':'Nazareth',
    'designation':'Head Boy'    
    },
    {
    'name':'Christina', 
    'class':'10th',
    'roll':'25',
    'school':'Creane',
    'designation':'Head Girl'
    }
]

In [7]:
coll.insert_many(data)

In [45]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://DivyanshuKumar:example2023@cluster0.1rfdg9w.mongodb.net/?retryWrites=true&w=majority")

In [46]:
database = client['dell2_17_5_23']
coll = database['prac2_17_5_23']

In [47]:
data1 = [{'name':'Hitesh', 
    'class':'9th',
    'roll':'2',
    'school':'D.A.V.',
    'designation':'scrum Manager'},
    {'name':'Divya', 
    'class':'5th',
    'roll':'3',
    'school':'DPS',
    'designation':'Data Analyst'},
    {  'name':'Neel', 
    'class':'11th',
    'roll':'4',
    'school':'Creane',
    'designation':'Distressed Debt group Head'}]

In [48]:
coll.insert_many(data1)