In [11]:
class Ineuron:
     
    def ineuron(self):
        print("iNeuron is a edtech company")
        
    def fee(self):
        print("Fee of iNeuron is very affordable")
        
    def ineuron_student(self):
        print("Students of iNeuron are amazing")
        
    def ineuron_support(self):
        print("Yes, we do give support to the student")

In [12]:
a = Ineuron()

In [14]:
a.ineuron_student()

Students of iNeuron are amazing

# Connecting Mongodb using python Oops

In [54]:
import pymongo
class Mongodb:
    
    def __init__(self, userid_1, password_1):
        self.userid_1 = userid_1
        self.password_1 = password_1
    
    def connect(self):
        print("This will help you to connect with the mongo db")
        url = f"mongodb+srv://{self.userid_1}:{self.password_1}@cluster0.1rfdg9w.mongodb.net/?retryWrites=true&w=majority"
        client = pymongo.MongoClient(url)
        return client
        
    def insert(self, data):
        connection = self.connect()
        print("This will help you to insert data to the database")
        db = connection['mongodb_record']
        coll = db['mongo_record']
        coll.insert_one(data)
        
        
    def update(self):
        print("This will help you to update data to the database")

In [55]:
a = Mongodb('DivyanshuKumar', 'example2023')

In [56]:
a.connect()

This will help you to connect with the mongo db

MongoClient(host=['ac-crpczel-shard-00-01.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-02.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-00.1rfdg9w.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7aay1l-shard-0', tls=True)

In [59]:
a.insert({'name':'Divy', 'roll':'823000'})

This will help you to connect with the mongo db
This will help you to insert data to the database

TypeError: connect() missing 2 required positional arguments: 'username' and 'password'

In [20]:
import pymongo

class Py_Mongo:
    def __init__(self, username, password):
        self.username = username 
        self.password = password
        
    def connect(self):
        print("This function will help you connect with mongo database")
        url = f"mongodb+srv://{self.username}:{self.password}@cluster0.1rfdg9w.mongodb.net/?retryWrites=true&w=majority"
        client = pymongo.MongoClient(url)
        return client
    
    def insert(self, data):
        connect1 = self.connect()
        print("This will help you insert the data to the database")
        db = connect1["practice_mongo_connection"]
        coll = db['Mongo_collection_parctice']
        coll.insert_many(data)

In [21]:
a = Py_Mongo('DivyanshuKumar', 'example2023')

In [22]:
a.connect()

This function will help you connect with mongo database

MongoClient(host=['ac-crpczel-shard-00-00.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-02.1rfdg9w.mongodb.net:27017', 'ac-crpczel-shard-00-01.1rfdg9w.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7aay1l-shard-0', tls=True)

In [23]:
a.insert([{'Divyanshu':'Sonu'}, {'Dipanshu':'Monu'}, {'Samarth':'Gunnu'}, {'Akshat':'Krish'}, {'Riyansh':'Washu'}])

This function will help you connect with mongo database
This will help you insert the data to the database

# Connecting MySql using python oops

In [38]:
import mysql.connector
class Py_MySql:
    def __init__(self, host, user, password):
        self.host = host
        self.user = user
        self.password = password
        
    def sql_connect(self):
        divy = f"mysql.connector.connect(host={self.host}, user={self.user}, password={self.password})"
#         print(divy.is_connected())

    def show_databases(self):
        divy = f"mysql.connector.connect(host={self.host}, user={self.user}, password={self.password})"
        cursor = divy.cursor()
        cursor.execute("show databases")
        for i in cur:
            print(i)

In [39]:
a = Py_MySql('localjost', 'root', 'example@2023')

In [40]:
a.sql_connect()

In [41]:
a.show_databases()

AttributeError: 'str' object has no attribute 'cursor'

In [22]:
cursor = divy.cursor()
cursor.execute("show databases")

NameError: name 'divy' is not defined

In [87]:
class test1:
    @staticmethod
    def meth1():
        return "this is a method that you can access without creating an object"
    
    def meth2(self):
        return "This is a method without static"

In [88]:
b = test1

In [95]:
b.meth1()

'this is a method that you can access without creating an object'

In [96]:
test1.meth2()

TypeError: meth2() missing 1 required positional argument: 'self'

In [19]:
class test:
    @staticmethod
    def meth1():
        return "this is a method that you can access without creating an object"
#     @staticmethod
    def meth2():
        return "This is a method without static"

In [20]:
a = test()

In [21]:
test.meth1()

'this is a method that you can access without creating an object'

In [22]:
test.meth1()

'this is a method that you can access without creating an object'

In [25]:
test.meth2()

'This is a method without static'

In [49]:
class test:
    @staticmethod
    def meth2(name):
        print(f"My name is {name} of Gaya collge")

In [50]:
a = test()

In [51]:
a.meth2('Divyanshu')

My name is Divyanshu of Gaya collge

In [72]:
class Dog:
    attr1 = "Mammal"
    attr2 = "Dog"
    
    def fun(self):
        print(f"This is a example of {self.attr1}")
        print(f"This is a animal whose name is {self.attr2}")

In [73]:
Rodger = Dog()

In [74]:
Rodger.fun()

This is a example of Mammal
This is a animal whose name is Dog

In [81]:
class Person:
    attr1 ='Employee'
    attr2 ='Divyanshu'
    attr3 ='Gaya'
    attr4 ='Bihar'
    attr5 ='College'
    
    def occupation(self):
        print(f"I am An {self.attr1}")
    
    def name(self):
        print(f"My name is {self.attr2}")
    
    def city(self):
        print(f"I live in {self.attr3}")
    
    def state(self):
        print(f"I belong to {self.attr4}")
    
    def college(self):
        print(f"I completed my undergrad from {self.attr5}")

In [82]:
Human_being = Person()

In [83]:
Human_being.city()

I live in Gaya

In [86]:
Human_being.occupation()

I am An Employee

In [98]:
class Test2:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c1 = c
        
    def meth1(self):
        return f"This will return method 1"
    
    def meth2(self, n):
        return n
    
    def meth3(self, m):
        return m

In [99]:
a_test2 = Test2("Annu", 34, "Kumari")
b_test2 = Test2("Divyanshu", 21, "Kumar")
c_test2 = Test2('Dipanshu', 56, 'Barnwal')

In [100]:
a_test2.meth2('This is just for experiment')

'This is just for experiment'

In [101]:
a_test2.meth3('This is used by me for experiment')

'This is used by me for experiment'

In [102]:
c_test2.meth1()

'This will return method 1'

In [104]:
class Father:
    
    def nature(self):
        return "calm and non-aggresive"
    
    def Health(self):
        return "No Genetic disease"
    
class Mother():
    
    def height(self):
        return "Great Height"
    
    def complexion(self):
        return "Wheatish complexion"
    
class Son(Father, Mother):
    
    def inheritence(self):
        return "He has inherited all characteristics of Mother and Father"

In [105]:
inhrtnc = Son()

In [106]:
inhrtnc.complexion()

'Wheatish complexion'

In [108]:
class GrandFather:
    
    def nature(self):
        return "calm and non-aggresive"
    
    def Health(self):
        return "No Genetic disease"
    
class Father(GrandFather):
    
    def height(self):
        return "Great Height"
    
    def complexion(self):
        return "Wheatish complexion"
    
class Son(Father):
    
    def inheritence(self):
        return "He has inherited all characteristics of Mother and Father"

In [110]:
inhrtnc_test2 = Son()

In [111]:
inhrtnc_test2.nature()

'calm and non-aggresive'

In [112]:
inhrtnc_test2.complexion()

'Wheatish complexion'

In [120]:
class Father:
    def height(self):
        return "height is 5.7 ft."
    
class Mother:
    def height(self):
        return "height is 5.4 ft"
    
class Son(Mother, Father):
    def name(self):
        return "My name is Divyanshu Kumar"

In [121]:
s = Son()

In [122]:
s.height()

'height is 5.4 ft'

In [123]:
class test5:
    def test(self):
        return "This is my Method from class test5"
    
class test6:
    def test(self):
        return "This is my method from class test6"
    
class test7(test5):
    def test(self):
        return "This is my method from class test 7"

In [124]:
meth_test7 = test7()

In [125]:
meth_test7.test()

'This is my method from class test 7'

In [126]:
class test8:
    def test(self, b = 5, c = 7, d = 9):
        return b, c, d

In [127]:
t8 = test8()

In [129]:
t8.test('Divyanshu')

('Divyanshu', 7, 9)

In [130]:
t8.test('divyanshu', 'kumar')

('divyanshu', 'kumar', 9)

In [131]:
t8.test('Divyanshu', 'Kuamr', 'Ineuron')

('Divyanshu', 'Kuamr', 'Ineuron')

In [132]:
# Method overloading is a situation where number of arguments and data type will be different 
# Method overwriting is a situation where signature of a function means name and parameter will be same and we will just change the definition of the function.

In [1]:
class test9:
    def test1(self, a=9, b=11, c=13):
        return a, b, c

In [4]:
t9 = test9()

TypeError: test9() takes no arguments

In [5]:
t9.test1('Ramesh')

('Ramesh', 11, 13)

In [6]:
t9.test1('Ramesh', 'Kumar' )

('Ramesh', 'Kumar', 13)

In [7]:
t9.test1('Ramesh', 'Kumar', 'Mehta')

('Ramesh', 'Kumar', 'Mehta')

In [9]:
class test1:
    
    def test(self):
        return "This is method from test1"
    
class test2:
    
    def test(self):
        return "This is method from test2"
    
class test3:
    
    def test(self):
        return "This is method from test3"

In [11]:
var_class = [test1(), test2(), test3()]

In [17]:
for i in var_class:
    print (i.test())

This is method from test1
This is method from test2
This is method from test3

In [18]:
t1 = test1()

AttributeError: type object 'test1' has no attribute 'var_class'

In [36]:
class OldFriend:
#     @staticmethod
    def name(self):
        return "My old friend name is Ramesh, Hitesh, Suresh, Mahesh"
    
class SchoolFriend:
    def name(self):
        return "My school friend name is Siddharth, Tushar, Prashant, Vaibhav"
    
class CollegeFriend:
    def name(self):
        return "My college friend name is Gaurav, Nitish, RajKamal"

In [37]:
class_group = [OldFriend(), SchoolFriend(), CollegeFriend()]

In [38]:
for i in class_group:
    print (i.name())

My old friend name is Ramesh, Hitesh, Suresh, Mahesh
My school friend name is Siddharth, Tushar, Prashant, Vaibhav
My college friend name is Gaurav, Nitish, RajKamal

In [40]:
OldFriend().name()

'My old friend name is Ramesh, Hitesh, Suresh, Mahesh'

In [100]:
class File:
        
    def file_read(file_name):
        f = open(f"{file_name}, 'r'")
        f.read()
        f.close()
        
    def file_write(self, text):
        f = open(f"{self.file_name}, 'w'")
        f.write(text)

In [101]:
a = File()

In [99]:
a.file_('check443.txt')

TypeError: file_read() takes 1 positional argument but 2 were given

In [73]:
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'C:\\Users\\kumar\\Ineuron': ['.ipynb_checkpoints', 'check443.txt', 'data.txt', 'Inheritance.ipynb', 'MongoDB 2.ipynb', 'MongoDB.ipynb', 'mySQL .ipynb', 'Object Oriented Programming 2.ipynb', 'Object Oriented Programming.ipynb']

In [89]:
import os

class DirectoryLister(object):
    def __init__(self, *args):
        self.directory = os.listdir(*args)

    @property
    def count(self):
        return len(self.directory)

In [92]:
dl = DirectoryLister('D:\\mysql-init.txt')
print (dl.directory)
print (dl.count)

NotADirectoryError: [WinError 267] The directory name is invalid: 'D:\\mysql-init.txt'

In [128]:
def read():
    with open('check443.txt', 'r') as file:
        data = file.read()
        return data

In [129]:
def write():
    with open('check443.txt','a') as file:
        data = file.write("My name is Divyanshu Kumar \n I study in iNeuron")

In [130]:
read()

'Check Number: 443\nSales Tax: 6.0\nSub Total: 23.14\nTable Number: 17\nserver_name: Sonic Hedgehog\nMy name is Divyanshu Kumar \n I study in iNeuron'

In [131]:
write()

In [139]:
import logging
class ReadAndWrite:
    def read(self):
        try:
            with open('check443.txt', 'r') as file:
                data = file.read()
                return data
        except Exception as e:
            print(e)
            
    def write(self, data1):
        try:
            with open('check443.txt','a') as file:
                data = file.write(data1)
        except Exception as e:
            print(e)

In [140]:
rw = ReadAndWrite()

In [141]:
rw.write('this is the new sentence \n written by divyanshu Kumar \n from my dell laptop')

In [142]:
rw.read()

'Check Number: 443\nSales Tax: 6.0\nSub Total: 23.14\nTable Number: 17\nserver_name: Sonic Hedgehog\nMy name is Divyanshu Kumar \n I study in iNeuronMy name is Divyanshu Kumar \n I study in iNeuronthis is the new sentence \n written by divyanshu Kumar \n from my dell laptopthis is the new sentence \n written by divyanshu Kumar \n from my dell laptop'