In [1]:
# class : is a blueprint or code template or code template for object creation
# object : object is instance of class

In [ ]:
properties of object ----> attributes, instance variable
functionality of object ----> methods/function()

In [2]:
class Emp():
    pass

In [4]:
print(type(Emp()))

<class '__main__.Emp'>

In [5]:
a = Emp()

In [7]:
print(type(a))

<class '__main__.Emp'>

In [8]:
id(a)

2295455702368

In [9]:
class Robot:
    
    def introduce_self(self):
        print(f"My name is {self.name}")

In [10]:
Robot.introduce_self

In [11]:
r1 = Robot()

In [12]:
r1.name = "Divyanshu"

In [14]:
r1.introduce_self()

My name is Divyanshu

In [15]:
r2.introduce_self()

NameError: name 'r2' is not defined

In [31]:
class Ramesh:
    
    def name(self):
        print(f"My name is {self.name}")
    def college(self):
        print(f"I study in {self.college}")

In [44]:
r3 = Ramesh()

In [45]:
r3.college() = "Gaya Collge"

SyntaxError: cannot assign to function call (255590248.py, line 1)

In [47]:
print(r3.college())

I study in <bound method Ramesh.college of <__main__.Ramesh object at 0x00000216762B25B0>>
None

In [26]:
dir(r3)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'college',
 'name']

In [27]:
greetings = "Good Morning"

In [29]:
print(greetings())

TypeError: 'str' object is not callable

In [37]:

r3 = Robot()

In [39]:
r3.name= "Divyanshu"
r3.introduce_self()

My name is Divyanshu

In [40]:
r3.age = "2 Months"

In [42]:
r3.age

'2 Months'

In [68]:
class Robot:
    def __init__(self, name, color, weight):
        self.name = name
        self.color = color
        self.weight = weight
    
    def introduce_self(self):
        print(f"My name is {self.name}, My body color is {self.color} and my Body weight is {self.weight}")

In [69]:
r1 = Robot("Ramsung", "Silver", 35)

In [71]:
r2 = Robot("Apple", "Matt Black", 45)

In [72]:
r1.introduce_self()

My name is Ramsung, My body color is Silver and my Body weight is 2

In [67]:
r1.name

'Ramsung'

In [56]:
r2.name

'Apple'

In [74]:
r2.introduce_self()

My name is Apple, My body color is Matt Black and my Body weight is 45

In [84]:
class Person:
    def __init__(self, name, gender, profession):
        self.name = name
        self.gender = gender
        self.profession = profession
        
    def show(self):
        print('Name', self.name, 'Gender', self.gender, 'Profession', self.profession)
    
    def work(self):
        print(self.name, "is working in ",self.profession)

In [85]:
p1 = Person("Divyanshu", "Male", "Station master")

In [86]:
print(p1.name)
print(p1.gender)
print(p1.profession)

Divyanshu
Male
Station master

In [88]:
p1.work()

Divyanshu is working in  Station master

In [91]:
p1.show()

Name Divyanshu Gender Male Profession Doctor

In [90]:
p1.profession = "Doctor"

In [92]:
class Emp:
    def __init__(self):
        print(id(self))
        self.age = 25
        self.name = "Imran"
        self.salary = 30000

In [93]:
e1 = Emp()

2295495076064

In [94]:
e1.age

25

In [95]:
e1.salary

30000

In [10]:
class Circle:
    def __init__(self, radius):
        self.radius = radius
        
    def area_circle(self):
        print(f"The area of Circle is {(22/7)*self.radius*self.radius}")
        
    def circum_circle(self):
        print(f"The perimeter of circle is {2*(22/7)*self.radius}")

In [11]:
c1 = Circle(6)

In [12]:
c1.area_circle()

The area of Circle is 113.14285714285714

In [13]:
c1.circum_circle()

The perimeter of circle is 37.714285714285715

In [33]:
class Student:
    def __init__(self, name, school, height):
        self.name = name
        self.school = school
        self.height = height
        
    def introduce_self(self):
        print(f"My name is {self.name}")
        print(f"My school name is {self.school}")
        
    def height(self):
        print(f"My height is {self.height}")

In [34]:
stu1 = Student( "Divyanshu", "D.A.V.", 178 )

In [35]:
stu1.introduce_self()

My name is Divyanshu
My school name is D.A.V.

In [36]:
stu2 = Student("Tirth", "Creane", 140)

In [37]:
stu2.introduce_self()

My name is Tirth
My school name is Creane

In [42]:
class Triangle:
    def __init__(self, s1, s2, s3):
        self.s1 = s1
        self.s2 = s2
        self.s3 = s3
        
    def triangle_check(self):
        if self.s1 + self.s2 > self.s3 and self.s2 + self.s3 > self.s1 and self.s1 + self.s3 > self.s2:
            print("This can form a triangle")
        else:
            print("This cannot solve the problem")

In [43]:
t1=Triangle(3, 4, 5)

In [44]:
t1.triangle_check()

This can form a triangle

In [46]:
class Emp:
    
    def __init__(self):
        print(id(self))
        self.age = 25
        self.name = "Chelsy"
        self.salary = 250000

In [47]:
e1 = Emp()

1401326480544

In [49]:
e1.salary

250000

In [56]:
class Rectangle:
    
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
        
    def area_rect(self):
        print(f"The area of Rectangle is {self.length * self.breadth}")
        
    def peri_rect(self):
        print(f"The perimeter of Rectangle is {2*(self.length + self.breadth)}")

In [57]:
rec1 = Rectangle(24, 8)

In [58]:
rec1.area_rect()

The area of Rectangle is 192

In [59]:
rec1.peri_rect()

The perimeter of Rectangle is 64

In [105]:
class BankAccount:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        
    def account_details(self):
        print(f"The account Holder name is {self.name}")
        print(f"The available account balance is {self.balance}")
     
    def deposit(self):
        amount = int(input("enter the amount you want to deposit:- "))
        self.balance = self.balance + amount
        print(f"The updated balance after deposit is {self.balance}")
        
    def withdrawal(self):
        amount = int(input("Enter the amount you want to withdraw:- "))
        if self.balance < amount:
            print("Insufficient Balance")
        else:
            self.balance = self.balance - amount
            
        print(f"The current available balance is {self.balance}")

In [107]:
b_acnt1 = BankAccount("Divyanshu", 2400)

In [100]:
b_acnt1.deposit()

enter the amount you want to deposit:- 1200
The updated balance after deposit is 3600

In [101]:
b_acnt1.balance

3600

In [102]:
b_acnt1.withdrawal()

Enter the amount you want to withdraw:- 240
The current available balance is 3360

In [108]:
b_acnt1.account_details()

The account Holder name is Divyanshu
The available account balance is 2400

# OOPs practice Question

 Write a class called BankAccount that has the following:
        • A field called name that stores the name of the account holder.
        • A field called amount that stores the amount of money in the account.
        • A field called interest_rate that stores the account’s interest rate (as a percentage).
        • A constructor that just sets the values of the three fields above.
        • A method called apply_interest() that takes no arguments and applies the interest to the
        account. It should just modify the amount field and not return anything. For instance, if the
        account has $1000 in it and the interest rate is 3%, then the amount variable should be changed
        to $1030 ($1000 + 3% interest).
        Then test the class, by creating a new BankAccount object for a user named Juan De Hattatime who
        has $1000 at 3% interest. Then do the following:
        • Use the apply_interest() method to apply the interest to the account.
        • Print out how much money is now in the account after applying the interest.
        • Change the account’s interest rate to 2%.
        • Use the apply_interest() method to apply the interest to the account again.
        • Print out how much money is now in the account after applying the interest again.

In [109]:
class BankAccount:
    
    def __init__(self, name, amount, interest_rate):
        self.name = name
        self.amount = amount
        self.interest_rate = interest_rate
        
    def apply_interest(self):
        balance = self.amount + (self.amount * (self.interest_rate/100))
        self.amount = balance
        print(self.amount)

In [111]:
acc1 = BankAccount("Divyanshu", 2000, 3)

In [112]:
acc1.apply_interest()

2060.0

In [113]:
acc1.interest_rate = 2

In [114]:
acc1.apply_interest()

2101.2

Write a class called Item that represents an item for sale. It should have the following:
      • Fields representing the name and price of the item
      • A constructor that sets those fields,
      • A __str__() method that returns a string containing the item name and price, with the price
      formatted to exactly 2 decimal places
      Test the class by creating a new item object and printing it out

In [68]:
class Item:
    def __init__(self, name, price):
        self.name = name
        self.price = price
        
    def __str__(self):
        return f"{self.name} : {self.price}"

In [71]:
item1 = Item("Harpic", "$29.99")
item2 = Item("Surf Excel", "$19.99")
item3 = Item("Vim", "$9.99")

In [75]:
print(item1, item2, item3)

Harpic : $29.99 Surf Excel : $19.99 Vim : $9.99

Write a class called ShoppingCart that might be used in an online store. It should have the following:
      • A list of Item objects that represents the items in the shopping cart
      • A constructor that creates an empty list of items (the constructor should take no arguments except self)
      • A method called add() that takes a name and a price and adds an Item object with that name
      and price to the shopping cart
      • A method called total() that takes no arguments and returns the total cost of the items in the
      cart
      34
      • A method called remove_items() that takes an item name (a string) and removes any Item
      objects with that name from the shopping cart. It shouldn’t return anything.
      • A __str__() method that returns a string containing info on all the items in the shopping cart
      Then test out the shopping cart as follows: (1) create a shopping cart; (2) add several items to it; (3)
      print the cart’s total cost (using the total() method); (4) remove one of the items types; (5) print out
      the cart

In [ ]:
class ShoppingCart:
    
    def __init__(self):
        self.empty_list = []
    
    def add(self, item)

 Write a class called RestaurantCheck. It should have the following:
      • Fields called check_number, sales_tax_percent, subtotal, table_number, and server_name
      representing an identification for the check, the bill without tax added, the sales tax percentage,
      the table number, and the name of the server.
      • A constructor that sets the values of all four fields
      • A method called calculate_total that takes no arguments (besides self) and returns the total
      bill including sales tax.
      • A method called print_check that writes to a file called check###.txt, where ### is the check
      number and writes information about the check to that file, formatted like below:
      Check Number: 443
      Sales tax: 6.0%
      Subtotal: $23.14
      Total: $24.53
      Table Number: 17
      Server: Sonic the Hedgehog
      Test the class by creating a RestaurantCheck object and calling the print_check() method

In [71]:
class RestaurantCheck:
    def __init__(self, check_number, sales_tax_percent, subtotal, table_number, server_name):
        self.check_number = check_number
        self.sales_tax_percent = sales_tax_percent
        self.subtotal = subtotal
        self.table_number = table_number
        self.server_name = server_name
        
    def calculate_total(self):
        total_bill = (self.subtotal * (100 + self.sales_tax_percent))/100
        print(f"Your Total Bill is {total_bill}")
        
    def print_check(self):
        with open(f"check{self.check_number}.txt", 'w') as f:
            f.write(f"Check Number: {self.check_number}\n")
            f.write(f"Sales Tax: {self.sales_tax_percent}\n")
            f.write(f"Sub Total: {self.subtotal}\n")
            f.write(f"Table Number: {self.table_number}\n")
            f.write(f"server_name: {self.server_name}\n")
            f.read(f"check{self.check_number}.txt")

In [72]:
bill1 = RestaurantCheck(443, 6.0, 23.14, 17, "Sonic Hedgehog")

In [73]:
bill1.calculate_total()

Your Total Bill is 24.5284

In [67]:
print("Check Number :", bill1.check_number)
print("Sales Tax : ",  bill1.sales_tax_percent)
print("SubTotal :" , bill1.subtotal)
print("Table Number : ", bill1.table_number)
print("Server : ", bill1.server_name)

Check Number : 443
Sales Tax :  6.0
SubTotal : 23.14
Table Number :  17
Server :  Sonic Hedgehog

Write a class called Ticket that has the following:
      • A field cost for the price of the ticket and a string field time for the start time of the event
      (assume times are in 24-hour format, like '18:35')
      • A constructor that sets those variables
      • A __str__() method that returns a string of the form Ticket(<cost>, <time>), where
      <cost> and <time> are replaced with the values of the cost and time fields.
      • A method called is_evening_time() that returns True or False, depending on whether the
      time falls in the range from 18:00 to 23:59.
      • A method called bulk_discount() that takes an integer n and returns the discount for buying n
      tickets. There should be a 10% discount for buying 5 to 9 tickets, and a 20% discount for buying
      10 or more. Otherwise, there is no discount. Return these percentages as integers.
      Test the class by creating a Ticket item, printing it, calling the is_evening_time() method, and
      calling the bulk_discount() method

In [15]:
class Ticket:
    def __init__(self, cost, start_time):
        self.cost = cost
        self.start_time = start_time
        
    def __str__(self):
        return f"{self.cost} : {self.start_time}"
    
    def is_evening_time(self, nowTime):
        endTime = "23:59"
        if self.start_time < endTime:
            return self.start_time <= nowTime <= endTime
        else: #Over midnight
            return nowTime >= self.start_time or nowTime <= endTime
        
    def bulk_discount(self, tickets):
        if 10 > tickets > 4:
            print("Hurreh! You will get a discount of 10 %")
        if tickets > 11:
            print("Hurreh! You will get a discount of 20 %")

In [16]:
cust1 = Ticket(100, "18:00")

In [17]:
print(cust1)

100 : 18:00

In [18]:
cust1.bulk_discount(12)

Hurreh! You will get a discount of 20 %

In [20]:
cust1.is_evening_time("15:30")

False

In [77]:
def isNowInTimePeriod(startTime, endTime, nowTime):
    if startTime < endTime:
        return startTime <= nowTime <= endTime
    else: #Over midnight
        return nowTime >= startTime or nowTime <= endTime

In [82]:
isNowInTimePeriod("18:00", "23:59", "15:35")

False

# 17th dec encapsulation

In [21]:
class Bike:
    pass

In [31]:
kawasaki = Bike() #Here kawasaki is a object

In [30]:
kawasaki.colour = "black" # THE GIVEN COLOUR, MODEL, MILEGE ARE ATTRIBUTE OR PROPERTY ASSOCIATED WITH A PARTICULAR OBJECT

In [25]:
kawasaki.model = "Honey Comb Edition"

In [26]:
kawasaki.milege = "8 km"

In [27]:
kawasaki.colour

'black'

In [28]:
kawasaki.milege

'8 km'

In [29]:
kawasaki.model

'Honey Comb Edition'

In [34]:
honda = Bike() #HERE  HONDA IS ANOTHER OBJECT

In [35]:
honda.colour = "Neon"
honda.model = "Shine SP"
honda.milege = "55 km"

In [36]:
honda.colour

'Neon'

In [37]:
honda.model

'Shine SP'

In [38]:
honda.milege

'55 km'

In [60]:
class Bike:
    def __init__(a, colour, model, milege, year):
        a.c = colour
        a.mo = model
        a.mi = milege
        a.y = year
        
    def age(b, current_year):
        return  current_year - b.y
    
    def kmpl(self):
        print("The milege of the given Bike is {self.milege}")

In [61]:
honda1 = Bike("Neon", "Shine SP", "55 Km", 2021)

In [53]:
honda2 = Bike("Orange", "Hornet", "35 Km")
honda3 = Bike("Orange", "Hornet", "35 Km")
honda4 = Bike("Orange", "Hornet", "35 Km")
honda5 = Bike("Orange", "Hornet", "35 Km")
honda6 = Bike("Orange", "Hornet", "35 Km")

TypeError: __init__() missing 1 required positional argument: 'year'

In [62]:
honda1.age(2023)

2

In [81]:
class Cycle:
    def __init__(a, com, mo, y, col):
        a.company = com
        a.model = mo
        a.year = y
        a.colour = col
        
    def age(b, current_year):
        return current_year - b.year
    
    def km_per_charge(b):
        print(f"The Kilometer per charge of {b.company} {b.model} is 45 km")
        
    def __str__(c):
        return "This is the cycle class which is self created"

In [82]:
cycle=Cycle("Hercules", "Street Cat", 2020, "Orange")

In [83]:
cycle.age(2023)

3

In [84]:
cycle.km_per_charge()

The Kilometer per charge of Hercules Street Cat is 45 km

In [85]:
print(cycle)

This is the cycle class which is self created

In [87]:
class Person:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        
    def __str__(self):
        return "This is a self created Person class"

In [95]:
person1 = Person("Divyanshu", "kumar", 21)

In [96]:
print(person1)

This is a self created Person class

In [102]:
class Student:
    
    def __init__(self, name, roll, joining_date, current_topic):
        self.name = name
        self.roll = roll
        self.joining_date = joining_date
        self.current_topic = current_topic
        
    def cur_topic(self):
        print(f"The current topic that is being discussed in the class is {self.current_topic}")
        
    def str_roll_no(self):
        try:
            if type(self.roll) == str:
                print("Do nothing")
                
            else:
                return str(self.roll)
        except exception as e:
            print ("This is my error", e)
            
    def duration(self, current_date):
        print(f"The duration of student in my class is {current_date - self.joining_date}")
        
    def __str__(self):
        return "This is a Student class"

In [103]:
stu1 = Student("Divyanshu", 21, "2022", "FSDS")

In [104]:
stu1.str_roll_no()

'21'

In [107]:
print(stu1)

This is a Student class

In [109]:
class SimpleCalculator:
    def __init__(self, num1, num2, operator):
        self.num1 = num1
        self.num2 = num2
        self.operator = operator
        
    def calculate(self):
        if self.operator == "+":
            print(f"{self.num1 + self.num2}")
            
        elif self.operator == "-":
            print(f"{self.num1 - self.num2}")
            
        elif self.operator == "*":
            print(f"{self.num1 * self.num2}")
            
        else:
            print(f"{self.num1 / self.num2}")

In [119]:
calc1 = SimpleCalculator(4, 9, '/')

In [120]:
calc1.calculate()

0.4444444444444444

In [133]:
#Non parameterised constructor
class SimpleCalculator2:
    def __init__(self):
        self.num1 = int(input("Enter the first number"))
        self.num2 = int(input("Enter the second number"))
        
    def add(self):
        return self.num1 + self.num2
    
    def sub(self):
        return self.num1-self.num
    
    def mul(self):
        return self.num1 * self.num2
    
    def divide(self):
        return self.num1/self.num2

In [131]:
calc2 = SimpleCalculator2()

Enter the first number6
Enter the second number8

In [132]:
calc2.add()

14

In [134]:
class Company:
    
    def __init__(self):
        self.name = "Ineuron"
        self.address = "Banglore"
        
    def show(self):
        print(f"The name of the company is {self.name} and it is located in {self.address}")

In [138]:
cmp = Company()

In [139]:
cmp.show()

The name of the company is Ineuron and it is located in Banglore

In [9]:
class Rectangle:
    def __init__(self):
        self.__length = 5
        self.__breadth = 3
        
        print(self.__length)
        print(self.__breadth)

In [10]:
r1 = Rectangle()

5
3

In [11]:
r1.

AttributeError: 'Rectangle' object has no attribute 'breadth'

In [1]:
class Rectangle:
    def __init__(self):
        self.length = 5
        self.__breadth = 3
        
        print(self.length)
        print(self.__breadth)
        
    def show(self):
        print("This is the private variable", self.__breadth)
        
rect = Rectangle()
print(rect.length)
print(rect.__breadth) # This is a private variable. Hence, it is not accessible outside class

5
3
5

AttributeError: 'Rectangle' object has no attribute '__breadth'

In [2]:
rect.show()

This is the private variable 3

In [3]:
print(rect._Rectangle__breadth) #Through name mangling i can access private as well as protected variable.

3

In [11]:
class Test:
    def __init__(self):
        self.a = 5
        self._b = 8
        self.__c = 10
        
        print(f"This is public {self.a} and this is protected {self._b} and this is private {self.__c}")

In [15]:
t1 = Test()

This is public 5 and this is protected 8 and this is private 10

In [20]:
t1._Test__c

10

In [21]:
t1._b

8

In [22]:
class Hello:
    
    def __init__(self):
        self.a = 9
        self._b = 99
        self.__c = 999
        
    def show(self):
        print(f"{self.a} is public and {self._b} is protected and {self.__c} is protected")

In [23]:
h1 = Hello()

In [25]:
h1.show()

9 is public and 99 is protected and 999 is protected

In [26]:
h1._b

99

In [27]:
h1._Hello__c

999

In [58]:
class Tyres:
    def __init__(self, branch, belted_bias, opt_pressure):
        self.branch = branch
        self.belted_bias = belted_bias
        self.opt_pressure = opt_pressure
    
    def __str__(self):
        return ("Tyres's \n \t branch"+self.branch+
               "\n \t belted_bias "+self.belted_bias+
               "\n \t opt pressure"+ self.opt_pressure)
    
class Engine:
    def __init__(self, fuel_type, noise_level):
        self.fuel_type = fuel_type
        self.noise_level = noise_level
        
    def __str__(self):
        return ("Engine's \n \t fuel type"+self.fuel_type+
               "\n \t belted_bias "+self.noise_level)
    
class Body:
    def __init__(self, size):
        self.size = size
        
    def __str__(self):
        return ("Size's \n \t fuel type"+self.size)
    
class Car:
    def __init__(self, tyres, engines, size):
        self.tyres = tyres
        self.engines = engines
        self.size = size
        
    def __str__(self):
        return ("Car's \n \t tyres"+str(self.tyres)+"\n"
               "\n \t engines "+str(self.engines)+"\n"
               "\n \t size"+ str(self.size))

In [59]:
t1 = Tyres("Mumbai", "True", "50 psi")
e1 = Engine("Petrol", "3.0")
b1 = Body("Medium")

In [60]:
print(t1)
print(e1)
print(b1)

Tyres's
 	 branchMumbai
 	 belted_bias True
 	 opt pressure50 psi
Engine's
 	 fuel typePetrol
 	 belted_bias 3.0
Size's
 	 fuel typeMedium

In [61]:
c = Car(t1, e1, b1)

In [62]:
print(c)

Car's
 	 tyresTyres's
 	 branchMumbai
 	 belted_bias True
 	 opt pressure50 psi

 	 engines Engine's
 	 fuel typePetrol
 	 belted_bias 3.0

 	 sizeSize's
 	 fuel typeMedium